In [3]:
import pandas as pd

In [4]:
from pandas import Series, DataFrame

In [5]:
obj = pd.Series([4, 7, -5, 3])

In [6]:
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [7]:
obj.values

array([ 4,  7, -5,  3])

In [8]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [9]:
obj2 = pd.Series([4, 7, -5, 3], index=['d', 'b', 'a', 'c'])

In [10]:
obj2

d    4
b    7
a   -5
c    3
dtype: int64

In [11]:
obj2['a']

-5

In [12]:
obj2[obj2>0]

d    4
b    7
c    3
dtype: int64

In [16]:
df = pd.read_stata('~/desktop/python/data/gss2018mod.dta')

In [17]:
result = df.head(10)

In [18]:
print(result)

   educ maeduc masei10 paeduc pasei10 sei10
0  14.0   12.0    39.7   12.0    58.4  65.3
1  10.0    8.0    13.2    0.0    24.6  14.8
2  16.0   16.0    35.8   12.0    77.4  83.4
3  16.0   12.0     NaN   16.0    67.7  69.3
4  18.0   12.0    21.8   12.0    58.4  68.6
5  16.0   12.0    13.6   12.0    58.4  69.3
6  13.0    6.0    25.1    NaN     NaN  24.2
7  12.0   12.0    23.8    NaN     NaN  23.7
8   8.0   12.0    25.7   12.0    46.6  21.8
9  12.0   20.0    86.6    6.0    28.7  57.1

In [19]:
result

   educ maeduc masei10 paeduc pasei10 sei10
0  14.0   12.0    39.7   12.0    58.4  65.3
1  10.0    8.0    13.2    0.0    24.6  14.8
2  16.0   16.0    35.8   12.0    77.4  83.4
3  16.0   12.0     NaN   16.0    67.7  69.3
4  18.0   12.0    21.8   12.0    58.4  68.6
5  16.0   12.0    13.6   12.0    58.4  69.3
6  13.0    6.0    25.1    NaN     NaN  24.2
7  12.0   12.0    23.8    NaN     NaN  23.7
8   8.0   12.0    25.7   12.0    46.6  21.8
9  12.0   20.0    86.6    6.0    28.7  57.1

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2348 entries, 0 to 2347
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   educ     2345 non-null   category
 1   maeduc   2089 non-null   category
 2   masei10  1657 non-null   category
 3   paeduc   1687 non-null   category
 4   pasei10  1850 non-null   category
 5   sei10    2248 non-null   category
dtypes: category(6)
memory usage: 71.4 KB