In [1]:
!curl -0 https://tinyurl.com/OWIDChile

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="refresh" content="0;url='https://raw.githubusercontent.com/akarlinsky/world_mortality/main/world_mortality.csv'" />

        <title>Redirecting to https://raw.githubusercontent.com/akarlinsky/world_mortality/main/world_mortality.csv</title>
    </head>
    <body>
        Redirecting to <a href="https://raw.githubusercontent.com/akarlinsky/world_mortality/main/world_mortality.csv">https://raw.githubusercontent.com/akarlinsky/world_mortality/main/world_mortality.csv</a>.
    </body>
</html>

In [2]:
pwd

'/Users/gjmb/Desktop/Python'

In [4]:
import numpy as np
import pandas as pd
test = pd.read_csv("https://tinyurl.com/OWIDChile")

In [5]:
test.head()

  iso3c country_name  year  time time_unit  deaths
0   ALB      Albania  2015     1   monthly  2490.0
1   ALB      Albania  2015     2   monthly  2139.0
2   ALB      Albania  2015     3   monthly  2051.0
3   ALB      Albania  2015     4   monthly  1906.0
4   ALB      Albania  2015     5   monthly  1709.0